footer
    footer.footer-3.mt-5
        .container-fluid
            .divider
        | &#x9;&#x9;&#x9;
        .container
            .row
                .col-md-6.text-center.text-md-left.mt-2.mb-3.pt-1
                    p Copyright &copy; YourStartup. All rights reserved.
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-6.text-center.text-md-right.mb-4
                    ul.social
                        li
                            a.fa.fa-facebook(href='#', title='Facebook')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a.fa.fa-twitter(href='#', title='Twitter')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a.fa.fa-google(href='#', title='Google+')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a.fa.fa-dribbble(href='#', title='Dribbble')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                            a.fa.fa-instagram(href='#', title='Instagram')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .clear
