header
  nav(class="navbar navbar-expand-md navbar-light bg-light")
    a(class="navbar-brand" href="#")
      i(class="fa fa-rebel" aria-hidden="true") Example
    
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    
    div(class="navbar-collapse collapse" id="collapsingNavbar")
      ul(class="navbar-nav mx-auto w-100 justify-content-center")
        li(class="nav-item active")
          a(class="nav-link" href="#") Home
        li(class="nav-item active")
          a(class="nav-link" href="#") Cars | Bikes
        li(class="nav-item active")
          a(class="nav-link" href="#") Promotion
        li(class="nav-item active")
          a(class="nav-link" href="#") Other
