extends layout.pug

block content
    section
        p Lorem ipsizzle rizzle bizzle amizzle, boofron adipiscing shiz. Nullam sapien velizzle, volutpizzle, suscipizzle quis, gravida vel, gizzle. Pellentesque egizzle tortor. Sed erizzle. Owned at dolizzle dapibus turpis tempizzle fo. Maurizzle owned own yo' izzle turpizzle. Fizzle izzle tortor. Uhuh ... yih! go to hizzle rhoncizzle crazy. In ma nizzle break yo neck, yall bling bling dictumst. Doggy dapibus. Curabitizzle tellizzle urna, pretizzle eu, mattizzle ma nizzle, eleifend go to hizzle, nunc. Daahng dawg i'm in the shizzle. Ass crackalackin velit sizzle yo mamma.