extends layout.pug

block content
    main.p-4
        .cover-inner.container.text-center.p-3
            h1.jumbotron-heading
                | Seja bem vindo
                |  ao seu&#x9;
                strong Startup UI Kit
            |   
            p.lead
                | A collection of coded HTML and CSS elements to help your build your startup website. Clean design, fully responsive and based on Bootstrap 4.   
            p.pt-4
                a.btn.btn-primary.btn-lg.mb-2.mr-2.ml-2(href='#') Register
        hr
        // Informations and other content
        section.features-1.text-center
            .container
                h2 Nossas vantagens
                .divider
                .row
                    .col-md-4.col-feature
                        .rounded-circle.justify-center
                            em.fa.fa-2x.fa-paint-brush
                        h4 Pintura personalisada
                        p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.

                    .col-md-4.col-feature
                        .rounded-circle.justify-center
                            em.fa.fa-2x.fa-desktop
                        h4 Online
                        p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.

                    .col-md-4.col-feature
                        .rounded-circle.justify-center
                            em.fa.fa-2x.fa-code
                        h4 Disponivel a sua disposição
                        p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.